a:link,
a:visited {
  text-decoration: none;
  color: rgb(56, 56, 56);
}

a:hover {
  color: #000
}

.form-control:focus{
  border-color: #cccccc;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn:focus {
  outline: none;
}